* {
  margin: 0;
  padding: 0;
  outline: none;
}
html,
:root {
  --sword-long: 0;
  --sword-short: 0;
}

body {
  height: 100vh;
  overflow: hidden;
}

main {
  padding: 2em 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;

  background-color: bisque;
  background-blend-mode: soft-light;
}
main #name_form > label {
  font-size: 3rem;
  color: #fff;
}
main #name_form > input {
  display: block;
  margin: 2em auto 0;
  padding: 1em;
  text-transform: capitalize;
}
main #name_form > span {
  font-size: 2rem;
  text-align: center;
}

aside.secretary {
  color: #fff;
  width: 300px;
  float: right;
  height: 100%;
  padding: 0 2em;

  background-color: salmon;
}
aside.secretary > section {
  padding: 2em 0;
}
.display-clock {
  text-align: center;
}
.display-clock > h3 {
  padding: 1em 0;
  text-align-last: left;
}
.clock {
  margin: 1.2em auto;
  position: relative;

  width: 10em;
  height: 10em;
  border-radius: 50%;

  background: url("./clock-bg.jpg");
  background-size: contain;
  background-position: 50%;
}
.clock .clock-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  background-color: #000;
  width: 19px;
  height: 19px;
  border-radius: 50%;
}
.clock:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform-origin: top center;
  transform: translate(-50%, 0) rotate(var(--sword-short));

  display: block;
  width: 6px;
  height: 30%;
  background-color: #382;
}
.clock:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top center;
  transform: translate(-50%, 0) rotate(var(--sword-long));

  display: block;
  width: 4px;
  height: 45%;
  background-color: crimson;
}

.hours {
  color: #382;
}
.seconds {
  color: crimson;
}

.display-location > div {
  text-align: center;
}

.display-weather > img {
  display: block;
  margin: 0 auto;
}
.display-weather > div {
  text-align: center;
}

.to_do_section {
  color: #fff;
  font-size: 3rem;
}
.be_done_section {
  color: #fff;
  font-size: 3rem;
}
#to_do_form {
  margin-top: 5em;
  width: 100%;
  text-align: center;
}
#to_do_form > .inp_section > label {
  display: block;
  font-size: 2rem;
}
#to_do_form > .inp_section > input {
  margin-top: 1em;
  padding: 0.8em;
  font-size: 1rem;
}

#to_do_form > .form-lists {
  display: flex;
}
#to_do_form > .form-lists > div {
  margin-top: 1em;

  width: 50%;
}
.to_do_list {
  color: black;
  font-weight: 600;
  font-size: 1.8rem;
  text-align-last: left;
  padding: 0.5em 3em;
}
.to_do_list > div {
  padding: 0 1em;
  overflow: hidden;
}
.to_do_list > div > .content-item {
  float: left;
}
.to_do_list > div > .btn-item {
  float: right;
}
.to_do_list > div > .btn-item > span {
  padding: 0 0.2em;
}
.be_done_list {
  color: dodgerblue;
  font-weight: 600;
  font-size: 1.8rem;
  text-align-last: left;
  padding: 0.5em 3em;
}
.be_done_list > div {
  padding: 0 1em;
  overflow: hidden;
}
.be_done_list > div > .content-item {
  float: left;
}
.be_done_list > div > .btn-item {
  float: right;
}
.be_done_list > div > .btn-item > span {
  padding: 0 0.2em;
}
